Consider introducing a link relation for URI templates

Hi,

(this relates to a short discussion during the presentation of this draft at the IETF 117 httpapi session)

My reading of RFC 6570 (URI templates; https://www.rfc-editor.org/rfc/rfc6570) has been that the main motivation is to provide developers with a more convenient and safe way a building URIs.

Slightly different to that, I think however that URI templates might also be used as sort of "API descriptions" for (end) users accessing web-based services, in a similar way URI schemes (RFC 7595) are used to access services. 

There are two kinds of precedence for this:
-  In certain Linux OS, there's a piece of software called "kde-geo-uri-handler", which will catch the "geo:" URI scheme (if no other app is catching it yet) and translate it into a (Google) Maps URL using some URI templatish approach
- Wikipedia projects do maintain various kinds of URI templates for, e.g., location services (see, e.g., https://en.wikipedia.org/wiki/Template:GeoTemplate)

I also tried to see if I can find sites (such as maps services) documenting their "URL-as-API" usage with RFC 6570 syntax - but without much success. It's hard to search for, though.

Now, when looking into the link template header fields draft, I saw that it does reference RFC 8288 (Web Linking; https://www.rfc-editor.org/rfc/rfc8288), but was surprised it **does not actually specify a link relation** on its own.

I think however that link relations might be a useful way for services to "advertise" their "URL-as-API" template, so that either directories or actors like Wikipedia projects could crawl these templates. 

While the link template headers field might technically serve the same purpose, I'd argue:
- Header fields are less common for this use case
- Certain code might not be able to access HTTP headers, while it can access the HTML body
- Similarly, some site owners might have trouble delivering/maintaining link template headers (e.g., I'd assume it's more likely to get markup in Google Maps HTML than in HTTP headers served)

Any thoughts?

Best,
Hans-Joerg

In these cases, I suspect it's best to have a specific link relation type for the API, so that you can understand what you're interacting with, what variables might be available, etc. 

E.g., it wouldn't just be a generic `api` link relation; it'd be domething like `location-api`.

In any case, that wouldn't belong in this draft, most likely. Closing, as we want to get this draft done.